{% include 'base.html' %}

{% block content %}
    <div class="center-column">
        <strong>{{ object.author.username }}</strong><br/>
        <img src="{{ object.image.url }}" width=400 height=400>
        <p><em>{{ object.created }}</em><br/>{{ object.description }}</p>
    <ul>
        {% for comment in object.comment_set.all %}
        <li>
            <strong>
                {{ comment.author }}<br/>
            </strong>
                {{ comment.text }}
        </li>
        {% endfor %}
    </ul>
    <form action="{% url 'posts:detail' pk=object.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="comment">
    </form>
        <a href={% url 'posts:list' %}> Back to posts</a>
    </div>
{% endblock %}
